@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes floatin{
  20%, 60%{
    transform: rotate3d(-45deg);
  }
  40%, 80%{
    transform: rotate3d(45deg);
  }
}
.animate {
  animation-duration: 3s;
  animation-name: floatin;
  animation-iteration-count: 1;
}